<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aloja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>Confirmacion</ion-header>
  <ion-button color="light" routerLink="/home" routerDirection="back">
    Ir al inicio
  </ion-button>
  <ion-item-divider/>
  <ion-text>
    Reservacion exitosa!
  </ion-text>
  <ion-item-divider/>
  <ion-text>
    Valor de la reserva: $80.000
  </ion-text>
  <ion-item-divider/>
  <ion-text>
    Por favor cancelar en la recepcion del hotel.
  </ion-text>
</ion-content>
