<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aloja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>Buscar Destinos</ion-header>
  <ion-button color="light" routerLink="/login" routerDirection="back">
    Salir
  </ion-button>
  <form [formGroup]="destinosForm">
    <ion-label>Ciudades</ion-label>
    <ion-select ok-text="Seleccionar" cancel-text="Cancelar" formControlName="destinos">
      <ion-select-option *ngFor="let destino of destinos" value="{{destino.ciudad}}">{{destino.ciudad}}</ion-select-option>
    </ion-select>
  
    <ion-list>
      <ion-item (click)="verDetalles()" *ngFor="let destino of destinos; index as i; trackBy: trackByFn">
        {{destino.alojamientos[0].titulo}}
      </ion-item>
    </ion-list>
  </form>
</ion-content>
